$medium-grey: #A8B5C7;

.input {
  display: flex;
  flex: 1;

  input {
    height: 38px;
    width: 100%;
    outline: none;
    margin: 0 5px;
    padding: 0 10px;
    border: $medium-grey 1px solid;
    border-radius: 5px;

    &::placeholder {
      font-style: italic;
    }
  }
}